.banner{
           background-color: gold;
           width:100%;
           height:100px;
           margin-bottom:50px;

       }
.banner-text{
           top:50%;
           left:45%;
           position:relative;
           transform:transform;



            }